nav{
    display:flex;
    background-color: black;
    justify-content: space-between;
    padding: 1vh 5vw;
}


ul{
    display: flex;
    justify-content: space-evenly;
    color: hsl(0, 0%, 100%);
    background-color: black;
    height: 10vh;
    align-items: center;
}

ul li{
    list-style-type:none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
  }
.rightnav{
    width: 10vw;
}
  .rightnav li{
      text-transform: lowercase;
  }

.chooseus{
    background-color: #F8F8F8;
    height: 100vh;
    padding: 3vh 3vw;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items:center;
}
.choosers{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.choose{
    background-color: #ffffff;
    height: 18vh;
    width: 22vw;
    display: flex;
    justify-content: space-evenly;
    padding: 2vh 2vw;
    align-items: center;
    margin: 2vh 1vw;
    font-weight: 700;
    font-size: larger;
}

.middlenav {
    width: 40vw;

}
.chooseus h5{
    font-weight: 800;
}
.choose h5{
    font-weight: 400;
}

.chooseus h4{
    width: 30vw;
    margin:1vh 0vw ;
    margin-bottom: 4vh;
    font-weight: 200;
}
.recentwork{
    background-color: #000000;
    height: 90vh;
    padding: 15vh 5vw;
    box-sizing: border-box;
}
.recentwork h5{
    color: #ABABAB;
    text-transform: uppercase;
    text-align: center;
}